* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

section {
    margin: 40px 0;
}

.active {
    border-bottom: 5px solid #0282f9;
}

.container {
    margin: 0 auto;
    width: 1300px;
}

.container-1200 {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    align-items: center;
}

.container-head_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;  
}

.container-head_bottom{
    display: flex;
    align-items: center; 
}

.header-li {
    color: white;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 30px;
}

.header-top {
    height: 2rem;
    background-color: #0282f9;
    display: flex;
    align-items: center;
}

.header-bottom {
    height: 6rem;
    display: flex;
    align-items: center;
}

.header-logo {
    width: 5%;
    margin-right: auto;
}

.li-head_bottom {
    color: black;
    font-weight: bolder;
    font-size: .9rem;
    line-height: 4.7rem;
}

.fa-angle-down {
    margin-left: 5px;
    font-size: .8rem;
}

.search-container {
    margin-left: 100px;
    display: flex;
    justify-content: flex-end;
    width: 120px;
}

#search {
    border: none;
    padding: .3rem;
    border-bottom: 2px solid #0282f9;
}

.main-comics_top {
    height: 20rem;
    position: relative;
}

.current-series {
    position: absolute;
    bottom: -20px;
    left: 90px;
    width: 180px;
    background-color: #0282f9;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    padding: .6rem .9rem;
    text-align: center;
}

.jumbo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.main-comics_bottom {
    background-color: black;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-content {
    width: calc(100% / 6);
    margin-bottom: 50px;
}

.card-title {
    font-size: .8rem;
    margin-top: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

button {
    width: 150px;
    margin: auto;
    border: none;
    background-color: #0282f9;
    color: white;
    text-transform: uppercase;
    padding: .6rem 0;
}

.footer-top {
    height: 8rem;
    background-color: #0282f9;
    display: flex;
    align-items: center;
}

.img-foot {
    width: 4%;
    margin-left: 50px;
    cursor: pointer;
}

.img-foot-locator {
    width: 3%;
    margin-left: 50px;
    cursor: pointer;
}

.foot-top_text {
    font-size: .8rem;
    text-transform: uppercase;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

.footer-bottom {
    height: 5rem;
    background-color: #303030;
    display: flex;
    align-items: center;
    z-index: 1;
}

.container-footer_bottom {
    display: flex;
}

.sign {
    border: 2px solid #0282f9;
    width: 150px;
    padding: .6rem;
    text-align: center;
    margin-right: auto;
}

.sign-link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
}

.socials {
    display: flex;
    align-items: center;
}

.foot-bottom_text {
    color: #0282f9;
    font-weight: bolder;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-right: 20px;
}

.social-img {
    width: 65%;
    margin-left: 15px;
}

.footer-middle {
    background-image: url("../images/footer-bg.jpg");
    padding-bottom: 20px;
    overflow: hidden;
}

.foot-middle_left {
    display: flex;
    position: relative;
}

ul {
    list-style-type: none;
}

.li-foot_title {
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    font-size: 1.2rem;
}

.li-foot_list {
    text-decoration: none;
    color: gray;
}

li {
    padding: 8px 0;
}

.li-title {
    padding-top: 20px;
    padding-bottom: 10px;
}

.middle-left_middle {
    margin: 0 30px;
}

.foot_text {
    color: gray;
    font-size: .9rem;
    margin-top: 10px;
}

.foot-link_text {
    color: #0282f9;
    text-decoration: none;
}

.foot-middle_bottom {
    width: 50%;
}

.foot-img_jumbo {
    width: 50%;
    position: absolute;
    bottom: -110px;
    right: 60px;
}